<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-2">
  <div *ngFor="let type of types; let i = index">
    <div class="row">
      <div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ numbers[i] }}</h5>
            <p class="card-text">
              {{ type }}
            </p>
            <div class="text-end">
              <a href="/navigator?tab={{ i }}" class="btn btn-primary"
                >See all</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
